Repository php-censor/php-censor, pull requests merged in 2018-02, with the labels that each got.

#149 replace characters invalid for mysql
  src/PHPCensor/Helper/CommandExecutor.php
  tests/PHPCensor/Helper/CommandExecutorTest.php
Labels: bug, tech

#151 PhpParallelLint Short tags Option expecting string
  src/PHPCensor/Plugin/PhpParallelLint.php
Labels: bug, plugin

#159 PHPDocBlockChecker Plugin Detailed Error Logging
  src/PHPCensor/Plugin/PhpDocblockChecker.php
Labels: enhancement, plugin
