Repository php-censor/php-censor, pull requests merged in 2018-06, with the labels that each got.

#186 Gogs ui
  src/Languages/lang.da.php
  src/Languages/lang.de.php
  src/Languages/lang.el.php
  src/Languages/lang.en.php
  src/Languages/lang.es.php
  src/Languages/lang.fr.php
  src/Languages/lang.it.php
  src/Languages/lang.nl.php
  src/Languages/lang.pl.php
  src/Languages/lang.pt-br.php
  src/Languages/lang.ru.php
  src/Languages/lang.uk.php
  src/Languages/lang.zh.php
  src/Model/Build/GogsBuild.php
  src/View/Project/view.phtml
  tests/src/Model/BuildTest.php
Labels: component:build-source, priority:normal, type:enhancement

#191 fix: make directory for local build
  src/Model/Build/LocalBuild.php
Labels: component:build-source, priority:major, type:bug

#192 feature: phan warning translations for "Quality trend"
  src/Languages/lang.en.php
  src/Languages/lang.fr.php
Labels: component:localization, priority:minor, type:enhancement

#193 feature: report errors from php cs fixer
  docs/en/README.md
  docs/en/plugins/php_cs_fixer.md
  src/Languages/lang.en.php
  src/Languages/lang.fr.php
  src/Plugin/PhpCsFixer.php
Labels: component:plugin, priority:minor, type:enhancement

#195 Explain the default value of new options in PHP CS Fixer plugin
  docs/en/plugins/php_cs_fixer.md
  src/Plugin/PhpCsFixer.php
Labels: component:plugin, priority:major, type:bug

#197 Fix: improved handling of PHP CS Fixer
  composer.json
  composer.lock
  src/Helper/Bitbucket.php
  src/Plugin/PhpCsFixer.php
Labels: component:plugin, priority:normal, type:enhancement
