Repository php-censor/php-censor, pull requests merged in 2018-05, with the labels that each got.

#175 doc: phan
  docs/en/README.md
  docs/en/plugins/phan.md
Labels: documentation, plugin

#174 feature: check localization command
  src/Command/CheckLocalizationCommand.php
  src/Console/Application.php
Labels: console, enhancement, localization

#177 Installing HipChat via composer
  docs/en/plugins/hipchat_notify.md
Labels: documentation, plugin

#178 php_code_sniffer not including phpcs.xml standard
  composer.json
  composer.lock
Labels: bug, plugin
