Repository php-censor/php-censor, pull requests merged in 2019-02, with the labels that each got.

#268 Documentation improvements.
  docs/en/README.md
  docs/en/plugins/codeception.md
  docs/en/plugins/git.md
  docs/en/plugins/grunt.md
  docs/en/plugins/gulp.md
  docs/en/plugins/hipchat_notify.md
  docs/en/plugins/php_code_sniffer.md
  docs/en/plugins/php_cpd.md
  docs/en/plugins/php_docblock_checker.md
  docs/en/plugins/php_mess_detector.md
  docs/en/plugins/php_tal_lint.md
  docs/en/plugins/php_unit.md
  docs/en/plugins/shell.md
  docs/en/plugins/slack_notify.md
  docs/en/plugins/wipe.md
  docs/en/workers/cron.md
  src/Command/RunCommand.php
  src/Helper/BuildInterpolator.php
  src/Model/Build.php
  src/Plugin.php
  src/Plugin/Codeception.php
  src/Plugin/Grunt.php
  src/Plugin/Gulp.php
  src/Plugin/Option/PhpUnitOptions.php
Labels: component:documentation, priority:minor, type:enhancement

#275 Fix Mage plugin documentation
  docs/en/plugins/deployer_org.md
  docs/en/plugins/git.md
  docs/en/plugins/hipchat_notify.md
  docs/en/plugins/mage.md
  docs/en/plugins/mage3.md
  docs/en/plugins/pdepend.md
  docs/en/plugins/phing.md
  docs/en/plugins/php_cs_fixer.md
  docs/en/plugins/php_mess_detector.md
Labels: component:documentation, priority:minor, type:enhancement

#277 Psalm support
  docs/en/plugins/psalm.md
  src/Plugin/Psalm.php
Labels: component:plugin, priority:normal, type:feature

#283 Feature: Add Postgres SSLMODE connection option
  README.md
  docs/en/configuring_application.md
  src/Command/InstallCommand.php
  src/Console/Application.php
  src/Database.php
  tests/src/DatabasePostgresqlTest.php
Labels: component:database, priority:minor, type:enhancement
