Repository php-censor/php-censor, pull requests merged in 2020-03, with the labels that each got.

#354 Added PHPUnit plugin options coverage
  composer.json
  docs/en/plugins/php_unit.md
  src/Plugin/PhpUnit.php
  tests/src/Plugin/PhpUnitTest.php
Labels: component:plugin, priority:normal, type:feature

#356 indicate in doc that some composer actions may be helpful in test stage
  docs/en/plugins/composer.md
Labels: component:documentation, priority:minor, type:enhancement

#357 Improve plugins output
  src/Plugin/PhpCsFixer.php
  src/Plugin/PhpDocblockChecker.php
Labels: component:plugin, priority:minor, type:enhancement

#361 early hint in doc that clone_depth is only supported in web-interface
  docs/en/configuring_project.md
Labels: component:documentation, priority:minor, type:enhancement

#355 phpunit detects more clearly if coverage output was successfully
  src/Plugin/PhpUnit.php
Labels: component:plugin, priority:minor, type:enhancement

#358 Symfony security checker
  docs/en/plugins/security_checker.md
  src/Plugin/SecurityChecker.php
  src/Plugin/Util/SymfonySecurityChecker.php
Labels: component:plugin, priority:minor, type:enhancement
